{
  "extends": ["react-app", "plugin:import/errors", "plugin:import/warnings"],
  "rules": {
    "comma-dangle": ["error", "never"],
    "semi": ["warn", "always"],
    "react/style-prop-object": "off",
    "no-empty": "warn",
    "no-empty-function": "warn",
    "max-len": [
      "warn",
      {
        "code": 120,
        "tabWidth": 2
      }
    ],
    "quotes": ["warn", "single"],
    "no-return-await": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"]
      }
    }
  }
}
