@import 'bootstrap-custom.scss';

$black: #000;

.shadow-up-sm {
  box-shadow: 0 -0.125rem 0.25rem rgba($black, 0.075) !important;
}
.shadow-y-sm {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.075) !important;
}

// Animation to make component appear fading in
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Animation to make component disappear fading out
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
